.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color:#E6EFDC;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.logo{
  color: rgba(78, 100, 59, 0.596)!important;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 0;
  padding-top:0

}
.header {
  background-color:white;
  border-bottom:2px solid #E6EFDC;
  color: black;
  padding-bottom: 0;
  padding-top:10;
  /* margin-bottom: 10!important; */
  font-family: Raleway;
  font-size: large;
}


.div1 {
  overflow:auto; 
}
.img {
 float: left;
 width:125px;
 height:100px;
}
.div2 {
 float: left; 
} 