body {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen";
  /* font-size: large; */
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.row-header {
  margin: 0px auto;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: auto;
  padding-right: auto;
  background-image: url("./img/grocery.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  overflow-y: auto !important;
}

.modal-open {
  overflow: auto !important;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.Card {
  font-family: "Raleway" !important;
}

.footer {
  background-color: #e6efdc;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding: 70px 30px 70px 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0px auto;
  background: #9575cd;
  color: white;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.logo {
  color: rgba(78, 100, 59, 0.596) !important;
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 0;
  padding-top: 0;
}
.header {
  background-color: white;
  border-bottom: 2px solid #e6efdc;
  color: black;
  padding-bottom: 0;
  padding-top: 10;
  /* margin-bottom: 10!important; */
  font-family: Raleway;
  font-size: large;
}
div.inner {
  display: flex;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0px 20px 0px 20px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 100px;
  color: black;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
}
.row-header h1,
.row-header p {
  color: black;
}
.title {
  display: flexbox;
  flex-direction: column;
}

.container-paragraph {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 30px;
  font-weight: 700;
  height: 230px;
  position: relative;
}

.container-btn {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container-video {
  background-color: #e6efdc;
  height: 500px;
}
.container-activity {
  background-color: white;
}

.section-title {
  font-weight: 700;
  padding-left: 5%;
  padding-top: 1%;
}

.section-text {
  font-weight: normal;
  padding-left: 5%;
  padding-top: 1%;
  font-size: 125%;
  margin-bottom: 2%;
  position: relative;
  top: -10px;
}

/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
/* Decorations */
.col-xs-4 {
  color: #fff;
  font-size: 48px;
  padding-bottom: 20px;
  padding-top: 18px;
}
.col-xs-4:nth-child(3n + 1) {
  background: #c69;
}
.col-xs-4:nth-child(3n + 2) {
  background: #9c6;
}
.col-xs-4:nth-child(3n + 3) {
  background: #69c;
}

/* .btn {
  height: 60px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
} */

.learnMore {
  text-align: center;
  color: black;
}

.div1 {
  overflow: auto;
}
.img {
  float: left;
  width: 125px;
  height: 100px;
}
.div2 {
  float: left;
}
.mission {
  
  
  /*font-family: 'Cormorant Garamond', serif;*/
}

.missionttl {
  /*color: green;
  position: relative;*/
}
.missionttl h1 {
  position: relative;
  margin-bottom: 50px;
  display: inline-block;
}
.missionttl h1 span:before {
  content: "";
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  width: calc(50% - 1px);
  display: block;
  height: 200%;
  left: 2px;
  border: 2px solid #053e69;
  top: -50%;
  border-right: 0 none !important;
}

.missionttl h1 span:after {
  content: "";
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  width: calc(50% - 1px);
  display: block;
  height: 200%;
  right: 2px;
  border: 2px solid green;
  top: -50%;
  border-left: 0 none !important;
}
.missionttl h1 span {
  padding: 10px 40px 10px 40px;
}

.content {
  padding-top: 20px;
}
.catch {
  font-size: 60px;
  letter-spacing: 0.2em;
  word-spacing: 30px;
}
#one {
  color: #053e69;
}
#two {
  color: green;
}
.about {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.paragraph {
  padding:40px 30%;
  line-height: 2;
}
.about {
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.picback {
  position: relative;
  padding-bottom: 0px;
  z-index: 999999;


}
.aboutcontent{
  margin-top: 80px;
  display: flexbox;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto;
}
.picture {
  object-fit: contain;
  width:100%;
  height:auto;
  border-radius: 4px;
  border: 2px black solid;
  margin-bottom: 20px;
  z-index: 0;
}
.bio {
  width:calc(100% - 2px);
  bottom: 20px;
  position: absolute;
  left:2px;
  font-size: larger;
  padding: 0;
  z-index: 3;
  opacity: 1;
  background-color:rgba(0, 0, 0, 0.486);
  line-height: 2;
  color:white;
  border-radius: 4px;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("img/home.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h3 {
  background: rgba(255, 255, 255, 0.5);
  /* color: #fff; */
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#hero h1 {
  /* background: rgba(255, 255, 255, 0.5); */
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  /* color: #fff; */
  /* -webkit-text-stroke: 0.001rem white; */
}

#hero h2 {
  /* color: #eee; */
  margin-bottom: 40px;
  font-size: 24px;
}

#hero .btn-get-started {
  background: rgba(255, 255, 255, 0.1);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid rgba(21, 21, 21, 0.8);
  color: rgba(21, 21, 21, 0.8);
}

#hero .btn-get-started:hover {
  background:  rgba(155, 185, 163, 0.6);
  border: 2px solid rgba(155, 185, 163, 0.8);
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h3 {
    font-size: 22px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #e43c5c;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #e43c5c;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #e43c5c;
}
.learnMore .section-text .btn-learn-more {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.3s;
  line-height: 1;
  color: #e43c5c;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #e43c5c;
}

.about .content .btn-learn-more:hover {
  background: #e43c5c;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.8)) center center;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #e43c5c;
  border: 2px solid #e43c5c;
}

@media (min-width: 1024px) {
  .cta {
    background-attachment: fixed;
  }
}

section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #fdeff2;
  color: #e43c5c;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #e43c5c;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}
